<app-add-attendee (addAttendeeEvent)="addAttendee($event)"></app-add-attendee>
<div *ngIf="isLoading$ | async">Loading..</div>
<h4>Filters</h4>
<label for="guests">Guests</label>
<select
  #filter
  data-testid="guests"
  id="guests"
  name="guests"
  [value]="filterBy"
  (change)="onChange(filter.value)"
>
  <option value="all">All</option>
  <option value="withGuests">With Guests</option>
  <option value="withoutGuests">Without Guests</option>
</select>
<app-event-list [attendees]="attendees$ | async"></app-event-list>
